@charset "UTF-8"; 


@media screen and (min-width: 300px) and (max-width: 768px){

    html,body {
        background-image: url(/imagens/fundo.jpg);
        background-repeat: no-repeat;
        /*background-color: rgba(22, 41, 212, 0.418);*/
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    img#user {
        display: none;
        transform: translate(48px, 39px);
    
    }

    section.secao01 > input {
        max-width: 500px;
        border-color: white;
        border-radius: 5px;
        width: 52vw;
        padding: 12px;
        margin-bottom: 10px;
    }

    #enviar {
        border-color: transparent;
        color: white;
        width: 57vw;
        font-size: 22px;
        transform: translate(0px, 21px);
        background-color: rgba(10, 196, 87, 0.89);
    }

    .names {
        font-size: 22px;
    }
    
    #logout {
        font-size: 30px;
    }
}
@media screen and (min-width: 770px) and (max-width: 957px) {
    img#user {
        display: none;
        transform: translate(48px, 39px);
    
    }
} 